.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Device1 {
  background-size: cover;
  width: 75%;
  height: 65%;
  margin: 2%;
  padding: 5%;
  margin-bottom: 40px;
  opacity: 1;
}

.Device1 :hover{color:red;}

.back {
  /* background-image: url("iotb.jpg"); */
  border: 5px solid black;
}

.title{
  text-align: center;
   margin-bottom: 100px;
   text-emphasis-color:black;
}

.title :hover{ text-emphasis-color:red;}

